<!DOCTYPE html>
<html lang="en" title="Coding design">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive HTML Table With Purse CSS - Web Design/UI Design</title>
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

</head>

<body>
  <br>
  <br>
    <main class="table">
        <section class="table__header">
            <h1>Liste des Affectations</h1>
            <div class="input-group">
                <img src="assets/images/search.png" alt="">
            </div>
         
        </section>
        <section class="table__body">
       
            <button  type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="initNewHero()">
             
                Ajouter une affectation
              </button>
         <br>
       

            <table>
                <thead>
                    <br>
                    <tr>
    
                        <th>  Numéro</th>
                        <th> expediteur</th>
                        <th> etat </th>
                        <th> dateInitiation </th>
                        <th>  dateAction </th>
                        <th> statut_procesus  </th>
                        <th> responsable </th>
                        <th> qualification</th>
                        <th> initiateur </th>
<th>service</th>
                       
                        <th style="font-weight: bold; color: #0f12dc">  </th>
                        <th style="font-weight: bold; color: #b80434">  </th>

                    </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let hero of heroes">
                   
                   <td> {{hero.id}}</td>
                   <td> {{hero.expediteur}}</td>
                   <td> {{hero.etat}}</td>
                   <td> {{hero.dateInitiation}}</td>
                   <td> {{hero.dateAction}}</td>
                   <td> {{hero.statut_procesus}}</td>
                   <td> {{hero.responsable}}</td>
                   <td> {{hero.qualification}}</td>
                   <td> {{hero.initiateur}}</td>
                   <td> {{hero.service}}</td>
                   <td> 
                   
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editRoleModal" 
                    (click)="editHero(hero)">

        
                        <i class="fas fa-edit"></i> Modifier
                      </button></td>
                          <td>  <button 
                      type="button" (click)="deleteRole(hero)"
                      class="btn btn-danger">
                      <i class="fas fa-trash"></i> Desactiver
                    </button> </td>
                    
                    
                      
                                             </tr>
                </tbody>
            </table>
         
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Formulaire affectation </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
            <div class="modal-body">
              <form [formGroup]="signUpForm">
                  <div *ngIf="hero" >
                      
                    <div class="form-group">
                        <label for="expediteur">expediteur:</label>
                        <input type="text" class="form-control" id="expediteur" [(ngModel)]="hero.expediteur"[ngModelOptions]="{standalone: true}" placeholder="expediteur" />
                      </div>  
                      <div class="form-group">
                        <label for="etat">etat:</label>
                        <input type="text" class="form-control" id="etat" [(ngModel)]="hero.etat"[ngModelOptions]="{standalone: true}" placeholder="etat" />
                </div>
                <div class="form-group">
                    <label for="dateInitiation">dateInitiation:</label>
                    <input type="date" class="form-control" id="dateInitiation" [(ngModel)]="hero.etat"[ngModelOptions]="{standalone: true}" placeholder="dateInitiation" />
            </div>
                      
                      
                      <div class="form-group">
                        <label for="dateAction"> dateAction:</label>
                        <input type="date" class="form-control" id="dateAction" [(ngModel)]="hero.dateAction"[ngModelOptions]="{standalone: true}" placeholder="dateAction" />
                        </div>

                      <div class="form-group">
                        <label for="statut_procesus">statut_procesus(*):</label>
                        <select class="form-control" id="statut_procesus" [(ngModel)]="hero.statut_procesus" [ngModelOptions]="{standalone: true}">
                            <option value="Contrat de vente">Production</option>
                            <option value="Contrat de location">Pré-production</option>
                        </select>
                      </div> 
                      <div class="form-group">
                        <label for="responsable"> responsable:</label>
                        <input type="text" class="form-control" id="responsable" [(ngModel)]="hero.dateAction"[ngModelOptions]="{standalone: true}" placeholder="responsable" />
                        </div>  
                        <div class="form-group">
                            <label for="qualification"> qualification:</label>
                            <input type="text" class="form-control" id="qualification" [(ngModel)]="hero.qualification"[ngModelOptions]="{standalone: true}" placeholder="qualification" />
                            </div>                    
                            <div class="form-group">
                                <label for="initiateur"> initiateur:</label>
                                <input type="text" class="form-control" id="initiateur" [(ngModel)]="hero.initiateur"[ngModelOptions]="{standalone: true}" placeholder="qualification" />
                                </div>                    
                                <div class="form-group">
                                    <label for="service"> service:</label>
                                    <input type="text" class="form-control" id="service" [(ngModel)]="hero.service"[ngModelOptions]="{standalone: true}" placeholder="service" />
                                    </div>    
                      
                   

                    <div class="d-flex justify-content-between align-items-center">
              
                        <button class="btn btn-success" (click)="createHero(hero)" *ngIf="!hero.id">Enregistrer</button>
              
                     
                  </div>
                  </div>

                 

                  </form>
                </div>
                

              </div>
              </div>
              </div>
           

              <div class="modal fade" id="editRoleModal" tabindex="-1" aria-labelledby="editRoleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Information réclamation </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
            <div class="modal-body">
              <form [formGroup]="signUpForm">
                  <div *ngIf="hero" >
                      <br>
                  
                    <h2 style="color: rgb(83, 18, 196);">{{ hero.initiateur }}</h2>
                  
                    <div class="form-group">
                        <label for="expediteur">expediteur:</label>
                        <input type="text" class="form-control" id="expediteur" [(ngModel)]="hero.expediteur"[ngModelOptions]="{standalone: true}" placeholder="expediteur" />
                      </div>  
                      <div class="form-group">
                        <label for="etat">etat:</label>
                        <input type="text" class="form-control" id="etat" [(ngModel)]="hero.etat"[ngModelOptions]="{standalone: true}" placeholder="etat" />
                </div>
                <div class="form-group">
                    <label for="dateInitiation">dateInitiation:</label>
                    <input type="date" class="form-control" id="dateInitiation" [(ngModel)]="hero.etat"[ngModelOptions]="{standalone: true}" placeholder="dateInitiation" />
            </div>
                      
                      
                      <div class="form-group">
                        <label for="dateAction"> dateAction:</label>
                        <input type="date" class="form-control" id="dateAction" [(ngModel)]="hero.dateAction"[ngModelOptions]="{standalone: true}" placeholder="dateAction" />
                        </div>

                      <div class="form-group">
                        <label for="statut_procesus">statut_procesus(*):</label>
                        <select class="form-control" id="statut_procesus" [(ngModel)]="hero.statut_procesus" [ngModelOptions]="{standalone: true}">
                            <option value="Contrat de vente">Production</option>
                            <option value="Contrat de location">Pré-production</option>
                        </select>
                      </div> 
                      <div class="form-group">
                        <label for="responsable"> responsable:</label>
                        <input type="text" class="form-control" id="responsable" [(ngModel)]="hero.dateAction"[ngModelOptions]="{standalone: true}" placeholder="responsable" />
                        </div>  
                        <div class="form-group">
                            <label for="qualification"> qualification:</label>
                            <input type="text" class="form-control" id="qualification" [(ngModel)]="hero.qualification"[ngModelOptions]="{standalone: true}" placeholder="qualification" />
                            </div>                    
                            <div class="form-group">
                                <label for="initiateur"> initiateur:</label>
                                <input type="text" class="form-control" id="initiateur" [(ngModel)]="hero.initiateur"[ngModelOptions]="{standalone: true}" placeholder="qualification" />
                                </div>                    
                                <div class="form-group">
                                    <label for="service"> service:</label>
                                    <input type="text" class="form-control" id="service" [(ngModel)]="hero.service"[ngModelOptions]="{standalone: true}" placeholder="service" />
                                    </div>    
                      
                   

                    <div class="d-flex justify-content-between align-items-center"> 

                 
                        <button class="btn btn-success" (click)="updateHero(hero)" *ngIf="hero.id">Modifier</button>
                    </div>
                    </div>
                </form> 
                  </div>
                  </div>
                  </div>
            
                </div>
                
        
            </section>
    </main>
</body>

</html>