<ng-container *ngIf="role === 'Administrateur'">

<br>
<br>
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 col-sm-6 col-md-4">
                  <div class="info-box">
                      <span class="info-box-icon bg-info elevation-1"></span>
                      <div class="info-box-content">
                          <span class="info-box-text">Ticket créé</span>
                          <span class="info-box-number">10<small>%</small></span>
                      </div>
                  </div>
              </div>
              
              <div class="col-12 col-sm-6 col-md-4">
                  <div class="info-box mb-3">
                      <span class="info-box-icon bg-danger elevation-1"></span>
                      <div class="info-box-content">
                          <span class="info-box-text">Ticket en cours</span>
                          <span class="info-box-number">41,410</span>
                      </div>
                  </div>
              </div>
              
              <div class="col-12 col-sm-6 col-md-4">
                  <div class="info-box mb-3">
                      <span class="info-box-icon bg-success elevation-1"></span>
                      <div class="info-box-content">
                          <span class="info-box-text">Ticket clôturé</span>
                          <span class="info-box-number">760</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
    
    
    <div class="row">
    <div class="col-md-12">
    <div class="card">
    <div class="card-header">
    <h5 class="card-title">Tache en instance de traitement / Pending requests </h5>
    <div class="card-tools">
    <button type="button" class="btn btn-tool" data-card-widget="collapse">
    <i class="fas fa-minus"></i>
    </button>
    <div class="btn-group">
    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
    <i class="fas fa-wrench"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" role="menu">
    <a href="#" class="dropdown-item">Action</a>
    <a href="#" class="dropdown-item">Another action</a>
    <a href="#" class="dropdown-item">Something else here</a>
    <a class="dropdown-divider"></a>
    <a href="#" class="dropdown-item">Separated link</a>
    </div>
    </div>
    <button type="button" class="btn btn-tool" data-card-widget="remove">
    <i class="fas fa-times"></i>
    </button>
    </div>
    </div>
    
    <div class="card-body">
    <div class="row">
    <div class="col-md-8">
    <p class="text-center">
    <strong></strong>
    </p>
    
    
    </div>
    
    
    
    </div>
    
    <div class="card-footer">
    <div class="row">
    <div class="col-sm-3 col-6">
    <div class="description-block border-right">
    <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> </span>
    <h5 class="description-header"></h5>
    <span class="description-text"></span>
    </div>
    
    </div>
    
    <div class="col-sm-3 col-6">
    <div class="description-block border-right">
    <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> </span>
    <h5 class="description-header"></h5>
    <span class="description-text"></span>
    </div>
    
    </div>
    
    <div class="col-sm-3 col-6">
    <div class="description-block border-right">
    <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> </span>
    <h5 class="description-header"></h5>
    <span class="description-text"></span>
    </div>
    
    </div>
    
    <div class="col-sm-3 col-6">
    <div class="description-block">
    <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> </span>
    <h5 class="description-header"></h5>
    <span class="description-text"></span>
    </div>
    
    </div>
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    </div>
    <!--<app-login *ngIf="isLoggedIn()"></app-login>-->
</div>
</section>
</ng-container>
<br>


    <section class="content">
      <div class="formulaire">
        <form [formGroup]="signUpForm">        
           <div *ngIf="hero" >
            <div class="form-group">
              <label for="type">Type:<span class="star">*</span></label>
              <select class="form-control" id="type" [(ngModel)]="hero.type" [ngModelOptions]="{standalone: true}">
                  <option value="Incident">Incident</option>
                  <option value="Demande">Demande</option>
              </select>
            </div>
            <br>
             <h2>Formulaire  </h2>
              <br><br>
         <div class="form1">
          <div class="form-group">
              <label for="initiateur">Initiateur:<span class="star">*</span></label>
              <input type="text" class="form-control" id="initiateur" [(ngModel)]="hero.initiateur"[ngModelOptions]="{standalone: true}" placeholder="Initiateur" />
            </div>
              <div class="form-group">
              <label for="reference">Référence:<span class="star">*</span></label>
              <input type="text" class="form-control" id="reference" [(ngModel)]="hero.reference"[ngModelOptions]="{standalone: true}" placeholder="Reference" />
      </div>
      
         <!-- <div class="form-group">
              <label for="serviceId">Service:<span class="star">*</span></label>
              <select [(ngModel)]="serviceId" [ngModelOptions]="{standalone: true}"id="serviceId" name="serviceId" class="form-control">
                <option *ngFor="let role of sectors" [value]="role.id">{{ role.nomService  }}</option>
              </select>
            </div>  -->   
            <div class="form-group">
              <label for="serviceId">Service:<span class="star">*</span></label>
              <select [(ngModel)]="serviceId" [ngModelOptions]="{standalone: true}" id="serviceId" name="serviceId" class="form-control">
                <ng-container *ngFor="let role of sectors">
                  <option *ngIf="role.isDisabled === false" [value]="role.id">{{ role.nomService }}</option>
                </ng-container>
              </select>
            </div>
            
            <div class="form-group">
              <label for="date">Date Sinistre:<span class="star">*</span></label>
              <input type="date" class="form-control" id="date" [(ngModel)]="hero.date"[ngModelOptions]="{standalone: true}" placeholder="Date_Sinistre" />
           </div>
              <div class="form-group">
                <label for="plateformeId">Plateforme:<span class="star">*</span></label>
                <select [(ngModel)]="selectedPlateforme" [ngModelOptions]="{standalone: true}" (change)="onPlatformChange()" id="plateformeId" name="plateformeId" class="form-control">
                  <ng-container *ngFor="let role of sectors3">
                    <option *ngIf="role.isDisabled === false" [value]="role?.id">{{ role?.nomPlateforme }}</option>
                    </ng-container>
              </select>
              </div> 
              <br>
</div>
<div class="form2">
        <div class="form-group">
          <label for="urgence">Urgence:<span class="star">*</span></label>
          <select class="form-control" id="urgence" [(ngModel)]="hero.urgence" [ngModelOptions]="{standalone: true}">
              <option value="Faible">Faible</option>
              <option value="Moyenne">Moyenne</option>
              <option value="Haute">Haute</option>

          </select>
        </div>
        
        <div class="form-group">
          <label for="intitule_reclamation">Intitulé réclamation:<span class="star">*</span></label>
          <input type="text" class="form-control" id="intitule_reclamation" [(ngModel)]="hero.intitule_reclamation"[ngModelOptions]="{standalone: true}" placeholder="Intitule_rclamation" />
        </div>
        <div class="form-group">
          <label for="reclamation"> réclamation:<span class="star">*</span></label>
          <textarea cols="10" rows="5" type="text" class="form-control" id="reclamation" [(ngModel)]="hero.reclamation"[ngModelOptions]="{standalone: true}" placeholder="reclamation" ></textarea>
        </div>
    <!--  <label for="fileInput">Select a File:</label>
        <input type="file" name="attachedFile" (change)="onFileSelected($event)" /> -->  
      
      </div>
     <h2>Documents </h2>
<br>
<div class="form1">
        <app-uploadfile (onUploadFinished)="uploadFinished($event)" ></app-uploadfile></div>
       <div class="form2">
        <div class="form-group">
          <label for="typedocument">Type de document</label>
          <select class="form-control" id="typedocument"[(ngModel)]="hero.typedocument" [ngModelOptions]="{standalone: true}" >
              
              <option value="Document justificatif">Document justificatif</option>
              <option value="Facture">Facture</option>
              <option value="Reçu">Reçu</option>
              <option value="Contrat">Contrat</option>
          </select>
        </div>
       <!-- <div class="form-group">
          <label for="dateAjouter">Date Ajouter:<span class="star">*</span></label>
          <input type="date" class="form-control" id="dateAjouter" [(ngModel)]="hero.dateAjouter"[ngModelOptions]="{standalone: true}" placeholder="Date_Ajouter" />
       </div> -->
      </div>
      <button (click)="toggleTableVisibility2()" class="btn btn-info" [ngClass]="'center-button'">Afficher vos documents</button>

      <table *ngIf="tableVisible2">
          <thead>
              <br>
              <tr>
                
                  <th>  Nom du document</th>
                  <th>Type de document</th>
                  <th> Propriétaire</th>
                  <th>Date d'ajout</th>
                  <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor = "let hero of  paginatedItems">
                      <th>{{hero.imgPath}}</th>
                      <th>{{hero.typedocument}}</th>
                      <th>{{hero.initiateur}}</th>
                      <th>{{hero.dateAjouter}}</th>
                    
                      <td style="text-align: center;">
                        <ng-container *ngIf="hero.imgPath">
                          <a [href]="createImgPath(hero.imgPath)" target="_blank">Voir le Document</a> <!-- ngx-extended-pdf-viewer -->
                        </ng-container>
                      </td>
                  
                    </tr>
                  </tbody>
                  </table>

<br>


    <div class="button">
      <input type="submit" class="btn btn-success" (click)="createHero(hero)" *ngIf="!hero.id2" value="Envoyer"aria-label="Close"/>
    
            </div>
            </div>
          
    </form>
    <br>
    <button (click)="toggleTableVisibility()" class="btn btn-info" [ngClass]="'center-button'">Afficher vos tickets</button>

<table *ngIf="tableVisible">
      <thead>
          <br>
          <tr>
              <th>  Numéro</th>
              <th> Initiateur</th>
              <th> Référence </th>
              <th> Service </th>
              <th> Date Sinistre </th>
              <th> Plateforme  </th>
              <th> Urgence </th>
              <th> Intitulé réclamation</th>
              <th> Réclamation </th>
              <th>Statut</th>  
              <ng-container *ngIf="role === 'Administrateur' || role === 'Prise En charge' || role === 'Cloture' || role === 'Qualification'">
                <th>Qualification</th>
              <th>Users Associer</th>
              </ng-container>
              <th style="font-weight: bold; color: #0f12dc">  </th>
              <th style="font-weight: bold; color: #b80434">  </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let hero of  paginatedItems">
         <td> {{hero.id2}}</td>
         <td> {{hero.initiateur}}</td>
         <td> {{hero.reference}}</td>
         <td > {{hero.serviceId}}</td>
         <td> {{hero.date}}</td>
         <td> {{hero?.plateformeId}}</td>
         <td> {{hero.urgence}}</td>
         <td> {{hero.intitule_reclamation}}</td>
         <td> {{hero.reclamation}}</td>
         <td style="color: green; font-weight: bold;">{{ hero.statut }}
        </td>
<td>{{hero.qualificationId}}</td>
<td>{{hero.user}}</td>
<ng-container *ngIf="role === 'Administrateur' || role === 'Prise En charge' || role === 'Cloture' || role === 'Qualification'">
  <td>      
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editRoleModal" 
          (click)="editHero(hero)">
              <i class="fas fa-edit"></i> Modifier
            </button></td>
            <td>
              <button type="button" (click)="toggleRoleStatus(hero)" class="btn btn-danger" [disabled]="hero.isDisabled">
                  <i class="fas fa-trash"></i> {{ hero.isDisabled ? 'Desactiver' : 'Activer' }}
              </button>
          </td>
          </ng-container>
                    </tr>
      </tbody>
        <div class="button-container">
        <button (click)="previousPage()" [disabled]="currentPage === 1 " class="btn btn-primary" id="previousButton">Précédente</button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btn-primary" id="nextButton">Suivante</button>
      </div>
  </table>
  




<!-- <br>
  <input type ="text" id="nomComplet" placeholder="Votre Nom" required class="input"><br><br>
  <label for="nomComplet">Commntaire <span class="star">*</span></label>
  <br><textarea cols="10" rows="5" class="input" placeholder="Vor Commentaairee"></textarea><br>
    <br><br>
</div>-->  
</div>
    </section>
    
    
    <aside class="control-sidebar control-sidebar-dark">
    
    </aside>
    
    
    
    
    <script src="dist/js/pages/dashboard2.js"></script>
    <div class="modal fade" id="editRoleModal" tabindex="-1" aria-labelledby="editRoleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Information réclamation </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
  <div class="modal-body">
    <form >
        <div *ngIf="hero" >
            <br>
        
          <h2 style="color: rgb(83, 18, 196);">{{ hero.initiateur }}</h2>
        
          <div class="form-group">
              <label for="initiateur">Initiateur:<span class="star">*</span></label>
              <input type="text" class="form-control" id="initiateur" [(ngModel)]="hero.initiateur"[ngModelOptions]="{standalone: true}" placeholder="Initiateur" readonly/>
            </div>  
            <div class="form-group">
              <label for="reference">Référence:<span class="star">*</span></label>
              <input type="text" class="form-control" id="reference" [(ngModel)]="hero.reference"[ngModelOptions]="{standalone: true}" placeholder="Reference" readonly/>
      
              <div class="form-group">
                <label for="serviceId">Service:<span class="star">*</span></label>
                <input type="text" class="form-control" id="reference" [(ngModel)]="hero.serviceId"[ngModelOptions]="{standalone: true}" placeholder="Reference" readonly/>
               <select [(ngModel)]="hero.serviceId" [ngModelOptions]="{standalone: true}" id="serviceId" name="serviceId" class="form-control">
                  <ng-container *ngFor="let role of sectors">
                    <option *ngIf="role.isDisabled === false" [value]="role.id" [selected]="role.id === previousServiceId">{{ role.nomService }}</option>
                  </ng-container>
                </select> 
              </div>
            
            <div class="form-group">
              <label for="date">Date Sinistre:<span class="star">*</span></label>
              <input type="datetime" class="form-control" id="date" [(ngModel)]="hero.date" [ngModelOptions]="{standalone: true}" placeholder="Date_Sinistre" readonly />
            </div>
                              
            <div class="form-group">
              <label for="urgence">Urgence:<span class="star">*</span></label>
              <select class="form-control"id="urgence" [(ngModel)]="hero.urgence"   [ngModelOptions]="{standalone: true}" readonly>
                  <option value="Faible">Faible</option>
                  <option value="Moyenne">Moyenne</option>
                  <option value="Haute">Haute</option>

              </select>
            </div>
            <div class="form-group">
              <label for="plateforme">Plateforme:<span class="star">*</span></label>
              <input type="text" class="form-control" id="plateforme" [(ngModel)]="hero.plateformeId"[ngModelOptions]="{standalone: true}"(change)="onPlatformChange()" placeholder="plateforme"readonly />
              <select id="plateforme"  class="form-control"  [(ngModel)]="hero.plateformeId" [ngModelOptions]="{standalone: true}" (change)="onPlatformChange()"name="plateforme" >
                <ng-container *ngFor="let role of sectors3">
                  <option  *ngIf="role.isDisabled === false" [value]="role.id" >{{ role.nomPlateforme }}</option>
                </ng-container>
            </select>
            </div> 
            <div class="form-group">
              <label for="qualificationId">Qualification:<span class="star">*</span></label>
              <select [(ngModel)]="selectedPlateforme4" [ngModelOptions]="{standalone: true}" (change)="onPlatformChange()" id="qualificationId" name="qualificationId" class="form-control">
                <ng-container *ngFor="let role of sectorsQ">
                  <option *ngIf="role.isDisabled === false" [value]="role.qualificationId">{{ role.nomPlateforme }}</option>
                  </ng-container>
            </select>
            </div> 
            <div class="form-group">
              <label for="datePrevisonnelle">Date Prévisonnelle d'implémntation:<span class="star">*</span></label>
              <input type="date" class="form-control" id="datePrevisonnelle" [(ngModel)]="hero.datePrevisonnelle"[ngModelOptions]="{standalone: true}" placeholder="datePrevisonnelle" />
           </div>
            <div class="form-group">
              <label for="intitule_reclamation">Intitulé réclamation:<span class="star">*</span></label>
              <input type="text" class="form-control" id="intitule_reclamation" [(ngModel)]="hero.intitule_reclamation"[ngModelOptions]="{standalone: true}" placeholder="Intitule_rclamation" readonly/>
            </div>
            <div class="form-group">
              <label for="reclamation"> réclamation:<span class="star">*</span></label>
              <input type="text" class="form-control" id="reclamation" [(ngModel)]="hero.reclamation"[ngModelOptions]="{standalone: true}" placeholder="reclamation"readonly />
            </div>
            
            <div class="form-group">
              <label for="userId">Attribue à :<span class="star">*</span></label>
              <select [(ngModel)]="selectedPlateforme3" [ngModelOptions]="{standalone: true}" (change)="onPlatformChange()" id="userId" name="userId" class="form-control" multiple>
                <ng-container *ngFor="let role of sectorsU">
                  <option *ngIf="role.isDisbles=== false && role.client==false" [value]="role?.id"  [value]="role.id">{{ role.nom }} || {{role.rolesUtilisateurs}}</option>
                  </ng-container>
                  </select>
            </div>
          <div class="d-flex justify-content-between align-items-center">
    
              <button class="btn btn-success" (click)="updateHero(hero)" *ngIf="hero.id2" data-bs-dismiss="modal" aria-label="Close">Modifier</button>
    
           
        </div>
        </div>
        </div>
    